# Install Clustergrammer

In [2]:
#! pip install clustergrammer2
#! jupyter labextension install @jupyter-widgets/jupyterlab-manager

# Import neccessary programs to run the calculations

In [30]:
import numpy as np
import pandas as pd
print(pd.__version__)
from clustergrammer2 import net
import warnings
warnings.filterwarnings('ignore')

0.24.2

Assignment statements in Python do not copy objects, they create bindings between a target and an object. For collections that are mutable or contain mutable items, a copy is sometimes needed so one can change one copy without changing the other.

In [31]:
from sklearn.metrics import f1_score
from copy import deepcopy

In [32]:
import matplotlib.pyplot as plt
%matplotlib inline

# Create a function to sum all element values and append that number to the end of the array

In [33]:
def cell_umi_count(df):
    sum_arr = []
    sum_names = []
    for inst_cell in df:
        sum_arr.append( df[inst_cell].sum() )
        sum_names.append(inst_cell)
    
    ser_sum = pd.Series(data=sum_arr, index=sum_names)
    return ser_sum

# Import and shape the data

In [34]:
net.load_file('corrected banana shared select.txt')
df = net.export_df()
df.shape

(50, 27)

In [35]:
%%time
ser_sum = cell_umi_count(df)
df = df.div(ser_sum)
print(df.shape)
print(df.sum().head())

(50, 27)
P0B0_R10    1.0
P4B1_R10    1.0
P0B0_R6     1.0
P0B3_R9     1.0
P0B1_R11    1.0
dtype: float64
Wall time: 52 ms

In [36]:
df.describe()

,P0B0_R10,P4B1_R10,P0B0_R6,P0B3_R9,P0B1_R11,P0B1_R12,P0B3_R10,P0B3_R12,P0B1_R10,P12B0R12,...,P12B3_R9,P4B0_R10,P4B0_R11,P4B0_R9,P0B0_R11,P4B1_R11,P4B1_R9,P4B3_R10,P4B3_R11,P4B3_R9
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,...,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,...,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000
std,0.040362,0.043993,0.046448,0.055636,0.039453,0.049145,0.039601,0.041230,0.060889,0.046410,...,0.047408,0.044857,0.039416,0.057931,0.053935,0.042069,0.042207,0.040707,0.037683,0.041035
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000053,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.002136,0.001487,0.000811,0.002007,0.005276,0.001101,0.000593,0.001661,0.000474,0.001165,...,0.000850,0.000644,0.000906,0.000742,0.004396,0.003504,0.001938,0.000952,0.001711,0.000643
75%,0.022533,0.013307,0.009007,0.006794,0.019206,0.013433,0.013249,0.015412,0.011909,0.017366,...,0.009405,0.023166,0.016100,0.013173,0.010204,0.016329,0.015279,0.024191,0.023614,0.019610
max,0.212730,0.207553,0.257059,0.284435,0.207894,0.240476,0.142228,0.176818,0.359461,0.256883,...,0.249309,0.222866,0.209499,0.311688,0.322763,0.195946,0.200228,0.244289,0.188455,0.242606

# Make sqrt transformations and normalize data

In [37]:
# ArcSinh transform
#df = np.arcsinh(df/5)

#Sqrttransform
df = np.sqrt(df)
df1 = np.sqrt(df)

# Z-score genes
net.load_df(df)
net.normalize(axis='row', norm_type='zscore')

# round to two decimal points
df = net.export_df().round(2)

print(df.shape)

(50, 27)

# Run Clustergrammer

In [38]:
net.load_df(df)
#net.cluster()
net.widget()

RXhhbXBsZVdpZGdldChuZXR3b3JrPXUneyJtYXQiOiBbWy0wLjMyLCAtMC41NiwgLTAuMzUsIDAuMzYsIDAuMDUsIC0wLjMzLCAtMC43MywgLTMuMDgsIDAuODYsIDAuMTEsIDAuMjcsIC0xLjTigKY=

# Fourth root transformation and clustergrammer

In [39]:
# Z-score genes
net.load_df(df1)
net.normalize(axis='row', norm_type='zscore')

# round to two decimal points
df1 = net.export_df().round(2)

print(df1.shape)

(50, 27)

In [40]:
net.load_df(df1)
#net.cluster()
net.widget()

RXhhbXBsZVdpZGdldChuZXR3b3JrPXUneyJtYXQiOiBbWy0wLjI0LCAtMC40NywgLTAuMjcsIDAuMzgsIDAuMSwgLTAuMjUsIC0wLjY0LCAtMy41MSwgMC44MSwgMC4xNiwgMC4zLCAtMS4zNyzigKY=